# Assignment Week 2
![alt text](https://secure.meetupstatic.com/photos/event/c/9/7/a/600_487911578.jpeg)

Welcome to week 2!
In this assignment, we will use our newly gained skills to answer some questions.
[Quiz](https://forms.gle/FbhJCZfbQVvG8W3b8)

# Dowload Data

In [0]:
!wget https://www.mlgraz.at/course_files/week2/spotify_mlgraz.csv

--2020-04-09 14:14:13--  https://www.mlgraz.at/course_files/week2/spotify_mlgraz.csv
Resolving www.mlgraz.at (www.mlgraz.at)... 81.19.159.92
Connecting to www.mlgraz.at (www.mlgraz.at)|81.19.159.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 167862 (164K) [text/csv]
Saving to: ‘spotify_mlgraz.csv’

spotify_mlgraz.csv  100%[===================>] 163.93K   477KB/s    in 0.3s

2020-04-09 14:14:14 (477 KB/s) - ‘spotify_mlgraz.csv’ saved [167862/167862]

# Load Libraries

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv("spotify_mlgraz.csv")

In [0]:
df.head()

   Index                   Title  ... Speechiness Popularity
0      1                 Sunrise  ...           3         71
1      2             Black Night  ...           7         39
2      3          Clint Eastwood  ...          17         69
3      4           The Pretender  ...           4         76
4      5  Waitin' On A Sunny Day  ...           3         59

[5 rows x 15 columns]

In [0]:
df.shape

(1994, 15)

In [0]:
df.isna().sum()

Index           0
Title           0
Artist          0
Genre           0
Year            0
BPM             0
Energy          0
Danceability    0
dB              0
Liveness        0
Valence         0
Length          0
Acousticness    0
Speechiness     0
Popularity      0
dtype: int64

In [0]:
df.Artist.drop_duplicates()

0                    Norah Jones
1                    Deep Purple
2                       Gorillaz
3                   Foo Fighters
4              Bruce Springsteen
                  ...
1982                  Rare Earth
1984       Crosby, Stills & Nash
1991                 Chuck Berry
1992    The Dave Brubeck Quartet
1993                 Fats Domino
Name: Artist, Length: 731, dtype: object

In [0]:
df.Artist

0                    Norah Jones
1                    Deep Purple
2                       Gorillaz
3                   Foo Fighters
4              Bruce Springsteen
                  ...
1989               Elvis Presley
1990               Elvis Presley
1991                 Chuck Berry
1992    The Dave Brubeck Quartet
1993                 Fats Domino
Name: Artist, Length: 1994, dtype: object

In [0]:
df.Genre[df.Genre == "austro pop"]

Series([], Name: Genre, dtype: object)

In [0]:
test = df.Popularity.max()

In [0]:
df[df.Length == df.Length.max()].Title

842    Echoes
Name: Title, dtype: object

In [0]:
correlation = df.corr()

In [0]:
correlation

                 Index      Year  ...  Speechiness  Popularity
Index         1.000000 -0.607910  ...    -0.050991    0.087442
Year         -0.607910  1.000000  ...     0.054097   -0.158962
BPM          -0.048918  0.012570  ...     0.085598   -0.003181
Energy       -0.114307  0.147235  ...     0.205865    0.103393
Danceability -0.047156  0.077493  ...     0.125229    0.144344
dB           -0.260179  0.343764  ...     0.125090    0.165527
Liveness     -0.027125  0.019017  ...     0.092594   -0.111978
Valence       0.063304 -0.166163  ...     0.107102    0.095911
Length        0.023928 -0.050743  ...    -0.027585   -0.065521
Acousticness  0.057346 -0.132946  ...    -0.098256   -0.087604
Speechiness  -0.050991  0.054097  ...     1.000000    0.111689
Popularity    0.087442 -0.158962  ...     0.111689    1.000000

[12 rows x 12 columns]

In [0]:
correlation.shape

(12, 12)

In [0]:
df.head()

   Index                   Title  ... Speechiness Popularity
0      1                 Sunrise  ...           3         71
1      2             Black Night  ...           7         39
2      3          Clint Eastwood  ...          17         69
3      4           The Pretender  ...           4         76
4      5  Waitin' On A Sunny Day  ...           3         59

[5 rows x 15 columns]

In [0]:
df[df.Artist == "The Rolling Stones"].Title.shape

(24,)

In [0]:
df.BPM.mean()

120.21564694082247

In [0]:
df[df.Artist == "Queen"].Energy.mean()

62.729729729729726

In [0]:
all_songs = df.shape[0]

In [0]:
all_songs

1994

In [0]:
before_2000 = df[df.Year < 2000].shape[0]

In [0]:
before_2000

1195

In [0]:
before_2000 / all_songs

0.5992978936810431

In [0]:
BeatlesSongs = df[(df.Artist == "The Beatles")]

In [0]:
BeatlesSongs[BeatlesSongs.Popularity == BeatlesSongs.Popularity.min()].Title

1889    Penny Lane
Name: Title, dtype: object

In [0]:
df[(df.Year == 1985) & (df.Energy == 66)].Speechiness.mean()

4.0

In [0]:
df[(df.Year == 1985) & (df.Energy == 66)]

      Index              Title  ... Speechiness Popularity
1311   1312             Jeanny  ...           5         58
1312   1313  Money for Nothing  ...           4         62
1322   1323             Nikita  ...           3         68

[3 rows x 15 columns]

In [0]:
df.Popularity.max()

100

In [0]:
df[df.Popularity == df.Popularity.max()].Genre

793    australian pop
Name: Genre, dtype: object

In [0]:
df[df.Genre == 'album rock'].Popularity.max()

84