# Load Libraries & Data

In [ ]:
!wget https://www.mlgraz.at/course_files/week2/adult_rev2.csv

In [ ]:
import pandas as pd
import numpy as np

**Load the data in a variable named df**

Tip: pd.read_csv()




The file path is "adult_rev2.csv"

**How many rows and columns does the data have?**

df.shape > (rows,columns)

In [ ]:
df.shape

**Show the first 5 rows of the data**

# Data Cleaning

**Drop the duplicates in the data**

Note: replace the current df (dataframe) with the clean df

**How many rows are left?**

**How many values are there in missing in the column workclass?**

**Drop all missing values**

Note: replace the current df (dataframe) with the clean df

**How many rows are left?**

**Is the income column inconsistent? Then fix it**

In [ ]:
df.income.value_counts()

**Drop social number. How many column are there left?** 

Note: Replace the old dataframe with the new clean one

# Exploratory Data Analysis

## Univariate

**Describe Age**

**Determine the mean of the column "hours.per.week"**

**What is the diference between mean and median on capital gain?**

**How many unique workclasses?**

**How many different types of education are there?**

**How many people are divorced?**

**Histogram Age**

**Create a countplot for martial status**

## Bivariate Analysis

**How many Salesperson make a capital gain of over 80000?**

**How many rows have a capital loss and capital gain bigger than 0?**

**Answer: 1**

**Create a feature which combines capital_loss and capital_gain**

**What is the mean capital?**

**What is the median capital?**

**How many people have a capital of 0?**

**What is the percentage of people which make a capital gain of over 10000?**

**What is the occupation of the biggest capital loss?** Q

Tip: Use min() or max()

**What is the ratio between <=50K income and >50K?**

**How many people with a income >50K have a 
capital loss?**

**How manydivorced people with a income >50K have a capital gain?**

**Do a scatter plot between age and capital**

**This look unreadable. Calculate the average capital by age**

**Calculate the correlation on the whole dataframe**

**Do men make more money than women?**